/* TOPBAR AVEC LIEN ET THEME  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

body.dark{
    background-color: #1e1e1e;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #FF7F57;
  height: 50px;
  display: flex;
}

header nav {
    display: flex;
    width: 100%;

}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}



ul {
  list-style: none;
  height: 100%;
  display: flex;
  left: 48px;
  position: relative    ;
  align-items: center;
}

ul a {
  color: black;
}
ul a:active {
    font-weight: bold;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}


.dark-light {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    right: 20px;
    
}
  
  .dark-light i {
    position: absolute;
    color: black;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .dark-light i.sun {
    opacity: 0;
    pointer-events: none;
  }
  
  .dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
  }
  .dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
  }
  
  
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
    margin-left: auto;

  }
}

section {
	margin: 10px;
}
/* Create a responsive, centered, three-column grid. */
.card-container {
	align-items: start;
	display: grid;
	grid-gap: 47px;
	grid-template-columns: repeat(auto-fit, 344px);
	justify-content: center;
}

/* --- Optional styles (to make this pen look nice) --- */

.card {
	background-color: #343434;
	border-radius: 5px;
	color: white;
	height: 177px;
	display: flex;
	text-align: center;
	text-shadow: 1px 1px 0 #555;
	flex-direction: column;
	justify-content: center;
}

.card h2 {
	color: #ff7f57;
	font-size: 18px;
}

.card p {
	font-style: italic;
	font-size: 50px;
	margin: 1px;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #111;
		color: #fff;
	}
}
.afficher{
  width: 324px;
  height: 34px;
  position: absolute;
  left: 38.68%;
  right: 38.82%;
  top: 9.06%;
  bottom: 88.26%;
  
  background: #FF7F57;
  border-radius: 5px;
  border-color:white;
  
}
button{
  color: aliceblue;
  font-weight: bolder;
}
.anecdote p{
  
  position: absolute;
  width: 324px;
  height: 34px;
  left: 340px;
  top: 80px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FF7F57;

}
.anecdote a{
  position: absolute;
  width: 324px;
  height: 34px;
  left: 260px;
  top: 210px;

  

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: #000000;

}
.anecdote{
  position: absolute;
  width: 800px;
  height: 300px;
  left: 380px;
  top: 173px;
  color: white;     
  background-color: #343434;
  border-radius: 10px;
} 